<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" th:href="@{../static/css/layui.css}" />
    <link rel="stylesheet" th:href="@{../static/css/style.css}" />
    <script th:src="@{../static/js/jquery.min.js}"></script>
    <script th:src="@{../static/js/layui.js}"></script>
</head>
<body>
<div class="login-main">
    <header class="layui-elip">登录</header>
    <form class="layui-form">
        <div class="layui-input-inline">
            <input type="text" id="name" name="name" required="" lay-verify="required" placeholder="用户名" autocomplete="off"
                   class="layui-input" />
        </div>
        <div class="layui-input-inline">
            <input type="password" id="password" name="password" required="" lay-verify="required" placeholder="密码" autocomplete="off"
                   class="layui-input" />
        </div>
        <div class="layui-input-inline login-btn">
            <button lay-submit="" lay-filter="login" class="layui-btn">登录</button>
        </div>
        <hr/>
        <!--<div class="layui-input-inline">
            <button type="button" class="layui-btn layui-btn-primary">QQ登录</button>
        </div>
        <div class="layui-input-inline">
            <button type="button" class="layui-btn layui-btn-normal">微信登录</button>
        </div>-->
        <p><a href="/u/registerpage" class="fl">立即注册</a><a href="javascript:;" class="fr">忘记密码？</a></p>
    </form>
</div>



<script type="text/javascript">
    layui.use(['form','layer','jquery'], function () {

        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;
        form.on('submit(login)',function (data) {
            // console.log(data.field);
//            alert(data.name);
//            alert(data.password);
            $.ajax({
                url:"/u/login",
                data:data.field,
                dataType:"json",
                type:'post',
//                data: {
//                    name: name,
//                    password: password
//                },
                success:function (data) {
//                    alert("aaaa");

                    if (data.code == 200){
//                        alert("200")
                        window.location.href = "/u/index";
                    }else{
                        layer.msg('登录名或密码错误');
                    }
                }
            });
            return false;
        })

    });
</script>
</body>
</html>